.tagline {
    font-size: 1.5rem;
    color: #b14a44;
    margin: 30px auto;
    line-height: 1.4;
    font-style: italic;
    letter-spacing: 0.3px;
}

.tagline-container {
    max-width: 700px;
    margin: 30px auto;

}
.default-logo {
    width:450px;
    height:auto;
    padding: 0;
}

.nav-logo {
    height: 160px !important;
    width: auto;
    display: block;
}

.navbar {
    min-height: 60px !important;
    height: 60px !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
    background-color: #fac0b9;
}

.navbar .container {
    padding: 0 !important;
    height: 60px !important;
    display: flex;
    align-items: center;
}
.bar-chart {
    max-width: 450px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}


.pie-chart {
    max-width: 225px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.chart-img {
    width: 100%;
    max-width: 900px;
    height: auto;
}
.chart-box {
    display: flex;
    justify-content: center;
}

.hover-shadow:hover {
    transform: translateY(-3px);
    box-shadow: 0px 6px 15px rgba(0,0,0,0.15);
    transition: 0.15s ease-in-out;
}


.book-card {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    background: #fafafa;
}

.book-cover {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.no-cover {
    width: 100%;
    padding: 40px 0;
    background: #eee;
    border-radius: 5px;
    font-size: 14px;
}

.remove-btn {
    background-color: #c0392b;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.remove-btn:hover {
    background-color: #e74c3c;}

.edition-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.edition-card {
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 6px;
    background: #fafafa;
    text-align: center;
}

.edition-cover {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px;
}