{% extends "base.html" %}
{% load static %}

{% block title %}My Reading Stats{% endblock %}

{% block content %}

<div class="container py-4">

    <h2 class="text-center mb-4">Your Reading Stats</h2>

    <!-- stats count boxes -->
    <div class="row g-4 mb-5">

        <div class="col-md-3">
            <div class="card shadow-sm text-center p-3">
                <h5>Books Read This Year</h5>
                <h2>{{ books_read_this_year }}</h2>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm text-center p-3">
                <h5>Total Books</h5>
                <h2>{{ total_books }}</h2>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm text-center p-3">
                <h5>Currently Reading</h5>
                <h2>{{ currently_reading }}</h2>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow-sm text-center p-3">
                <h5>Books on your Physical TBR</h5>
                <h2>{{ to_read_count }}</h2>
            </div>
        </div>

    </div>

    <!-- graphs -->
    <div class="row mt-4">

        <div class="col-12 text-center mb-4 chart-box">
            <img src="{% url 'library:books-read-chart' %}"
                 class="bar-chart shadow-sm rounded"
                 alt="Books read per month this year">
        </div>

        <div class="col-12 text-center mb-4 chart-box">
            <img src="{% url 'library:books-pie-chart' %}"
                 class="pie-chart shadow-sm rounded"
                 alt="Pie chart for count of books statuses">
        </div>

    </div>

</div>

<!-- download buttons -->
<div class="text-center mb-5">

    <a href="{% url 'library:export-mybooks-csv' %}"
       class="btn btn-outline-primary btn-lg me-3">
       Download CSV
    </a>

    <a href="{% url 'library:export-mybooks-json' %}"
       class="btn btn-outline-success btn-lg">
       Download JSON
    </a>

</div>

{% endblock %}